
body{
    line-height: 1.5; 
}

header, nav{
    padding: 10px 20px; 
    margin: 10px 0; 
}

nav ul li{
    display: inline-block; 
    margin-right: 20px; 
    padding: 5px 10px; 
    background-color: burlywood; 
    font-size: 16px; 
    text-align: center;
}

nav a{
    text-decoration: none; 
    color: black; 
}

nav a.current{
    text-decoration: underline wavy; 
    text-transform: uppercase;
}

h1{
    font-size: 32px; 
    font-family: 'Merriweather', 'Anton', 'Times New Roman', sans-serif; 

}

h2{
    font-size: 28px; 
    font-family: 'Anton', 'Times New Roman', sans-serif; 
    text-align: center; 
}

h3{
    font-size: 24px; 
}

h1, h2, h3{
    margin-top: 20px; 
}

.grid{
    width: 90%; 
    margin: 0 auto; 
    border: 5px solid green;
    border-radius: 25px ;
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    gap: 10px; 
}

.grid img{
    width: 90%;
    margin: 0 auto;
    display: block; 
}

.grid div:nth-child(3n+1) {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); 
}

.grid div:nth-child(3n) {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2); 
}

.grid div:nth-child(3n+2) {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2), -5px 0 5px rgba(0, 0, 0, 0.2); 
}

p + p {
    text-indent: 2em; 
}

p{
    margin-top: 10px; 
    margin-left: 10px;
}

.grid ul li{
    line-height: 1;
    list-style-image: url('image/sketchbook.png'); 
    margin-left: 10px; 
    margin-bottom: 10px; 
}
